* {
	font-family: Verdana, sans-serif;
	background-color: #191919;
}

html {
	background: url("");
}

body {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 0%;
	margin-bottom: 0%;
}

nav, nav ul {
	width: 100%;
}

nav ul li{
	float: left;
}