* {
	font-family: Verdana, sans-serif;
	background-color: white;
}

.page_title {
	clear: both;
}

html {
	background: url("https://plibby.w3.uvm.edu/cs148develop/assignment10/images/grey_squares.png");
}

body {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 0%;
	margin-bottom: 0%;
}

nav, nav ul {
	width: 100%;
}

nav ul {
	list-style: none;
}

nav ul li{
	float: left;
	padding: 1em;
}